
h1, h2
{
    padding: 20px 0;
}
#map-iframe
{
    height: 300px;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}
ul
{
    list-style-type: disc; 
    padding-left: 20px;
}
ul li
{
        list-style-type: circle;
}
p{
    padding-right: 200px;
}