* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    text-align: center;
}
#main-container
{
    width: 80%;
    margin: 0 auto;
}
/* 1. Bỏ dấu chấm tròn mặc định của thẻ ul li */
ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}  
nav ul {
    display: flex;            /* Flexbox để các phần tử con xếp hàng ngang */
    gap: 20px;                /* Tạo khoảng cách 20px giữa các menu */
    justify-content: center;  /* Cả thanh menu ra chính giữa màn hình */
}
.a-tag{
    text-decoration: none; /* Bỏ gạch chân */
    color: #333333;     
    font-size: 18px;       
}  
ol li{
    display: inline-block; /* Thu nhỏ vua với nội dung */
    text-align: left;      /* cawn trái */
}    
